__pycache__/app.cpython-37.pyc
__pycache__/Getting_recommendation.cpython-37.pyc
__pycache__/utilities.cpython-37.pyc
Document/~$C_docs.doc
Document/~WRL3000.tmp
DRA/*.csv
analysis/.ipynb_checkpoints/Untitled-checkpoint.ipynb
DRA/Archive/*.csv
src/__pycache__/*.pyc
sqlite_DB/Movie_report.db
src/sql_file.py
report/*.*
analysis/.ipynb_checkpoints/*.ipynb
__pycache__/basic_cicd.cpython-37-pytest-5.3.5.pyc
