__pycache__/app.cpython-37.pyc
__pycache__/Getting_recommendation.cpython-37.pyc
__pycache__/utilities.cpython-37.pyc
Document/~$C_docs.doc
Document/~WRL3000.tmp
analysis/.ipynb_checkpoints/Report_Analysis-checkpoint.ipynb
analysis/.ipynb_checkpoints/Exploratory_Analysis-checkpoint.ipynb
analysis/.ipynb_checkpoints/Pandas_timestamp-checkpoint.ipynb
